<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eldereach.eldereach">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LogInActivity" />
        <activity android:name=".volunteer.HomeVolunteerActivity" />
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true" />
        <activity android:name=".client.HomeClientActivity" />
        <activity
            android:name="com.eldereach.eldereach.client.transport.TransportClientActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".client.request.RequestsClientActivity" />
        <activity android:name="com.eldereach.eldereach.client.foodaid.FoodAidClientActivity" />
        <activity android:name=".client.visit.VisitClientActivity" />
        <activity android:name=".client.hotline.HotlineClientActivity" />
        <activity android:name=".client.settings.SettingsClientActivity" />
        <activity android:name=".volunteer.foodaid.FoodAidVolunteerActivity" />
        <activity android:name=".volunteer.transport.TransportVolunteerActivity" />
        <activity android:name=".volunteer.visit.VisitVolunteerActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_api_key" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>